
OLD_measures_and_dimensions_new_122021.py
OLD_measures_dimensions.py
OLD_old.py
OLD_start.py
OLD_stock-tactics_db_scripts_MySQL.sql
OLD_tactic_generator.py
OLD_tactic_generator_adhoc.py
OLD_tactic_generator_test.py
OLD_test.py
OLD_tests.py
OLD_USEFUL_SCRIPTS_stock-tactics_db_scripts_MySQL.sql
TA_Lib-0.4.20-cp39-cp39-win_amd64.whl
db_credentials.json
global_config.json
/exports/
/.idea/
/.__pycache__/
OLD_measures_and_dimensions_new_122021 — kopia.py
measures_and_dimensions_dev_test.py
tmp_stock_tactisc.sql
*.pyc
